/*Animations */
.scale-up-center {
   -webkit-animation:scale-up-center 0.4s;
           animation:scale-up-center 0.4s;
           animation-duration: 1s;} 
@keyframes scale-up-center {
 0%{-webkit-transform:scale(.5);
            transform:scale(.5);} 
100% {-webkit-transform:scale(1);
             transform:scale(1);}}
.reveal {position: relative;
  transform: translateY(150px);
  opacity: 0; 
  transition: 2s all ease;}
.reveal.active {
  transform: translateY(0);
  background-color: #fff;
  opacity: 1;}
